body {
  margin: 0;
}


/* NAV */
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  height: 15vw;
  padding: 1rem;
  background-color: crimson;
}

.nav-img {
  display: inherit;
  width: 100%;
  transform: translateX(10%);
}




.nav ul{
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  margin-top: 10%;
  right: 20%;
  list-style: none;
  color: white;
}

.nav ul li {
  font-size: 1.5rem;
  margin: 2%;
  padding: 1vw;
}


/* Home Section */

.section {
  background: url(/IMG_20211011_174638.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 50vw;
  margin-top: 15vw;
}

.section h1{
  padding: 5rem;
  padding-top: 15vw;
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
}

.home-btn button{

  font-size: 1.8rem;
  background: none;
  border: none;
  color: whitesmoke;
}


/* About Us Section */

.section-about {
  display: flex;
  flex-direction: row;
  margin: 10%;
}

.info {
  margin-right: 4rem;
  padding: 2rem;
  width: 60%;
  height: 50%;
  text-align: center;
  background-color: crimson;
  border-radius: 10px;
  color: whitesmoke;
  box-shadow: 10px 10px 5px black;
}

.info h1 {
  font-weight: bold;
  font-size: 2rem;
}

.info a {
  font-size: 1rem;
  color: whitesmoke;
  text-decoration: none;
}

.section-img {
  width: 50%;
  box-shadow: 10px 10px 5px black;
}

.section-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*Most Popular Cake Section*/

.section-cakes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: crimson;
  
}

.titles {
  height: 10%;
  width: 100%;
  margin: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
}



.divs-label {
  display: inherit;
  flex-wrap: wrap;
  margin: 3rem;
  width: 20%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
}

.divs-label img{
  width: 100%;
  bottom: 0;
  border-radius: 10px 10px 0 0;
}

.labels {
  margin: 0;
  width: 100%;
  height: 8vh;
  text-align: center;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
}

.labels h3 {
  font-size: 1rem;
  color: crimson;
}






