/* NAV */
.section-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: crimson;
}

.section-nav div {
  width: 50%;
}
.nav-img img{
  padding-left: 10vw;
  width: 50%;
}

.nav ul{
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 7.5rem;
  list-style: none;
  color: white;
}

.nav ul li {
  font-size: 2vw;
  padding: 1rem;
}


